.nav{
    display: flex;
    background-color: transparent;
    /* color: black; */
    position: absolute;
    left: 4%;
    top: 10%;
    list-style: none;
}

.li{
    color:#fff;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    margin-right: 140px;
    text-decoration: none;
}
