
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card{
  /* width: 20%;  */
  margin-right: 30px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    color:#fff;
    position: absolute;
    top: 20%;
    left: 4%;
    /* width: 100%; */
    /* height: auto; */
}



  

