*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.weather_info{
  list-style: none;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 20%;
  height: auto;
  background: transparent;
  /* border-radius: 3px; */
  position: absolute;
  top: 20%;
  left: 4%;
}

.time{
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  top: 5%;
  left: 4%;
}

.input_wrapper{
  display: flex;
  position: absolute;
  top: 18px;
  right: 50px;
  /* justify-content: space-between; */
  /* width: 50px; */
  height: 30px;
}

.input{
  color:#fff;
  font-weight: 400;
  /* position: absolute;
  right: 50px;
  top: 30px; */
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: 0;
}

.main_img{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient (rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-position: center;
  height: 100vh;
}

.favoriteList{
  position: absolute;
  top: 15%;
  right: 15%;
}

.city_name{
  font-size: 2rem;;
}
