.App {
  text-align: center;
}

.input_wrapper{
  display: flex;
  position: absolute;
  top: 18px;
  right: 50px;
  /* justify-content: space-between; */
  /* width: 50px; */
  height: 30px;
}

.input{
  color:#fff;
  font-weight: 700;
  /* position: absolute;
  right: 50px;
  top: 30px; */
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  /* border-radius: 6px; */
  outline: 0;
}


.date{
  position: absolute;
  color:#fff;
  top: 50px;
  right: 50px;
  font-weight: 500;
  font-style: italic;
  /* padding-left: 20px; */
}

